body {
    width: 100%;
    height: 100%;
}
#calculatorBody {
    width: 200px;
    height: 300px;
    border: 8px ridge #FFFFFF;
    background-color: #aa9999;
    text-align: center;
}
#displaySection {
    width: 100%;
    height: 10%;
    background-color: transparent;
    text-align: center;
    margin-bottom: 10px;
    display: block;
    
}
.buttonRow {
    width: 100%;
    height: 17.5%;
    margin: 2px;
    display: block;
    background-color: transparent;
    
    
}
.numberButton {
    width: 18%;
    height: 60%;
    float: left;
    border: 3px outset red;
    /*border-color: #FF0000;*/
    font-size: .5cm;
    font-family: fantasy;
    margin: 5px;
    padding: 3px;
}
#close {
    float: right;
    margin-right: 5%;
    background-color: #cc0000;
    width: 12%;
    height: 50%;
    font-size: .5cm;
    text-align: center;
    border: 2px ridge black;
    
    
}
